
html, body, * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);  background-color: #FFF;
  margin-bottom: 30px;
}

.card img {
  width: 200px;
  height: 180px;
  border-radius: 3px;
  margin-right: 20px;
}

.card .name {
  font-size: 3.4rem;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-style: italic;
  margin: 3px 0 10px;
}



